<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.istudent">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/istudent_logow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/istudent_logow"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Course1Activity"></activity>
        <activity android:name=".ScanActivity" />
        <activity android:name=".LibraryActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".TimeTableActivity" />
        <activity android:name=".GradeActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EduActivity" />
        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>